<%- include('../includes/html-head.ejs') %>

</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <h1>Contact not found</h1>

    <%= err ? err : 'no-error' %>

    <%- include('../includes/html-end.ejs') %>