body {
    /* page minimum width */
    min-width: 280px;
}

a.active {
    color: red;
}

span.disabled {
    color: #999999;
}

span.highlighted {
    font-weight: bold;
}

/* FORMS */
.__form input {
    border: 1px solid #666666;
    background-color: #eeeeee;
    font-weight: bold;
}

/* forms showing in "details" mode (only read values) */
.__form--readOnly input {
    background-color: transparent;
    border-color: transparent;
    color: black;
}

/* make form which is only showing button (to do some put request) inline */
form.inline {
    display: inline;
}

/* list group modification */
/* style small "action" buttons on lists */
.my-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-list-item .btn {
    opacity: 0.5;
    transform: scale(0.9);
}

.my-list-item .btn:disabled {
    border: none;
}

.my-list-item:hover .btn {
    opacity: 1;
    transform: scale(1);
}

.my-list-item .btn:focus {
    opacity: 1;
    transform: scale(1);
}

.my-list-item .btn-toolbar > * {
    margin-left: 5px;
}
*/

/* button/link which is whole li element */
li.__liButton {
    padding: 0;
}
li.__liButton:hover {
    background-color: #cccccc;
}

a.__liButton__link,
button.__liButton__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

/* bootstrap's card modifications */

.card {
    margin: 1em;
    border-radius: 0;
}

@media only screen and (max-device-width: 480px) {
    .card {
        margin: 0em;
    }
}

.card-footer {
    display: flex;
    justify-content: center;
}

.card-footer > * {
    margin: 0 0.2em;
}

/* Headings */
h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
}

ul.list-group {
    margin-bottom: 1em;
}

/* responsive elements (instead of bootstrap col) */
.__responsive {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    justify-content: space-between;
}

.__responsive__item {
    margin: 0.5em;
}
.__responsive__item--equal {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0.5em;
}

@media only screen and (max-device-width: 480px) {
    /* when element smallet than given width change display from flex 
        to force sub items on separate rows  */
    .__responsive--not-sm {
        display: block;
        padding: 0;
    }
}

/* forces to display elements in one row (i.e. buttons) */
.__oneRow {
    display: flex;
    flex-wrap: nowrap;
}
