.card {
    margin: 1em;
}

a.active {
    color: red;
}

span.disabled {
    color: #999999;
}

span.highlighted {
    font-weight: bold;
}

/* make form which is only showing button (to do some put request) inline */
form.inline {
    display: inline;
}

/* list group modification */
.my-list-item {
    display: flex !important;
    justify-content: space-between;
    align-items: center; /* align vertical */
}

.my-list-item:hover {
    background-color: #eeeeee;
    font-weight: bold;
}

.my-list-item .btn-toolbar > * {
    margin-left: 5px;
}
