.card{
    margin: 1em;
}

a.active {
    color: red;
}

span.disabled {
    color: #999999;
}

span.highlighted {
    font-weight: bold;
}

/* make form which is only showing button (to do some put request) inline */
form.inline{
    display: inline;
}
