<%- include('../includes/html-head.ejs') %>

<a href="add">Add new contact</a>
<% if(courses.length > 0) {%>
<ul>
    <% for(let course of courses) { %>
    <li><a href="/course/<%= course.id %>"> <%= course.courseName %></a></li>
    <% } %>
</ul>
<% } else { %>
<p>There are no courses yet.</p>
<% } %> <%- include('../includes/html-end.ejs') %>
